body{
    margin:0;
}
.area {
    margin-bottom: 0;
    width: 100%;
    background-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    font-size: 12px;
}
.area .page-wrapper {
    margin-left: 0;
    box-shadow: none;
    /*border-left: 1px solid #e5e5e5;*/
}
.area .page-wrapper .dashboard-main {
    padding: 20px 30px;
    min-height: 760px;
}
.area li{
    list-style: none;
}
.sub-title {
    font-size: 16px;
    margin-bottom: 3px;
    color: #8A8A8A;
}
.tip {
    color: #999;
    margin-bottom: 20px;
}
.dashboard-wrapper {
    margin: 20px auto;
}
.briefly {
    height: auto;
    overflow: hidden;
    margin-left: -1.35%;
}
.briefly ul{
    padding: 0;
}
.briefly ul li {
    width: 22.65%;
    float: left;
    margin-left: 1.35%;
    background-color: #0bacd3;
    color: #FFF;
    box-sizing: border-box;
    list-style: none;
}
.briefly ul li.photo {
    background-color: #ea4c89;
}
.briefly ul li.credit {
    background-color: #ffb848;
}
.briefly ul li.comments {
    background-color: #00c3b6;
}
.briefly ul li .visual {
    float: left;
    font-size: 40px;
    margin: 15px;
    line-height: 1.5;
}
.briefly ul li .number {
    float: right;
    margin: 15px;
    font-size: 30px;
    text-align: right;
    line-height: 1.5;
}
.briefly ul li .number span {
    display: block;
    font-size: 12px;
    color: rgba(255,255,255,.85);
}
.briefly ul li .more {
    clear: both;
}
.briefly ul li .more a {
    display: block;
    color: rgba(255,255,255,.85);
    background-color: rgba(0,0,0,.15);
    padding: 5px 15px;
}
.summary {
    margin-top: 20px;
    height: auto;
    overflow: hidden;
}
.summary .box {
    width: 50%;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}
.summary .box .title {
    font-size: 14px;
    margin-bottom: 15px;
}
.area .fast-navigation {
    margin-top: 20px;
}
.area .fast-navigation ul {
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 10px;
    height: auto;
    overflow: hidden;
}
.fast-navigation ul li {
    margin-bottom: 0;
    float: left;
    border-right: 1px solid #e5e5e5;
    position: relative;
    list-style: none;
}
.fast-navigation ul li a {
    display: inline-block;
    width: 100px;
    padding: 15px 0;
    text-align: center;
    list-style: none;
}
.area a {
    color: #00c8c9;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: none;
}
.fast-navigation ul li a i {
    display: block;
    font-size: 26px;
    margin-top: 10px;
    text-align: center;
}

.prompt{
    marign-top:20px;
    width:100%;
    height:200px;
}
.prompt ul{
    padding: 0;
    color:red;
}
.prompt ul li{
    margin-top:5px;
}