body{
    margin:0;
    padding:0
}
.mmain{
    /*border-left: 1px solid #e5e5e5;*/
    margin-top: 20px;
}
.mcontent{
    padding-left:20px;
}
.mcontent ul{
    padding:0;
}
.mcontent ul li{
    list-style: none;
}
.sub-title {
    font-size: 16px;
    margin-bottom: 3px;
    color: #8A8A8A;
}
.mlist{
    width:100%;
    /*border:1px solid #3432a9;*/
    margin-top: 5px;
    height: 40px;
}
.mlable{
    /*border: 1px solid #e6e6e6;*/
    width: 10%;
    font-size: 13px;
    float: left;
    border: 1px solid #10b7f5;
    height: 35px;
    line-height: 35px;
    text-align: center;

}
.mvalue{
    float:left;
    height: 35px;
    /*border: 1px solid gray;*/
    margin-left: 1px;
    width: 35%;
}
.mvalue input{
    background: none;
    line-height: 33px;
    width: 65%;
    border: 1px solid #ccc;
    padding-left: 3px;
}
.layui-btn {
    display: inline-block;
    height: 37px;
    line-height: 37px;
    padding: 0 18px;
    background-color: #1E9FFF;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    opacity: .9;
    margin-left: 1.5px;
}
/*弹出层样式*/
.update_mail_btn {
    width: 80px;
    padding: 7px 0px;
    background: #5FB878;
    color: #fff;
    text-align: center;
    margin: auto;
    border-radius: 2px;
    cursor: pointer;
}
.get_mail_code_btn {
    text-align: center;
    background: #5fb878;
    padding: 9px 7px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    border: 0;
}